<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <harvest-logo></harvest-logo>
        </div>
        <!-- Need to make this hide for all other states except home -->
        <ul class="nav navbar-nav">
            <li>
                <div ng-show="user" class="welcome nav navbar-nav navbar-right">
                    <span>{{ user.name }}</span>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <button class = "btn navbarButton" ng-show = "user" ng-click ="logout()">Logout</button>
            </li>
            <li>
                <button class="btn navbarButton" ng-show="user.isAdmin" ui-sref="admin">Admin</button>
            </li>
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <button class="btn navbarButton" ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</button>
            </li>
            <li>
              <button ng-show="user" ui-sref = "personalize" class = "btn navbarButton">My Home</button>
            </li>
            <li>
              <button ui-sref = "farmHome" class = "btn navbarButton">Farms</button>
            </li>
            <li>
                <button ng-show="!user" ui-sref="login" class="btn navbarButton">Login</button>
            </li>
            <li>
                <button ng-show="!user" ui-sref="signup" class="btn navbarButton">Sign Up</button>
            </li>
            <li>
                <div id="shoppingCart" class="navbar-right" droppable>
                    <div ng-click="goToCart(user)">
                    <button class="btn navbarButton">
                        <i class="fa fa-shopping-cart fa-lg"> </i>
                        <i class="fa fa-lg" style='color:white'>{{cart.currentCart.contents.length}}</i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
