<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <harvest-logo></harvest-logo>
        </div>
        <!-- Need to make this hide for all other states except home -->
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li>
                <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            </li>
            <li>
                <a ng-show="user.isAdmin" ui-sref="admin">Admin</a>
            </li>
            <li>
                <div ng-show="user" class="welcome nav navbar-nav navbar-right">
                    <span>Welcome, {{ user.name }}!</span>
                    <a ng-click="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
        <div id="shoppingCart" class="navbar-rigth">
            <div ng-click="goToCart(user)">
                <i class="fa fa-shopping-cart fa-2x"> </i>
                <i class="fa fa-xl" style='color:white'>{{cart.currentCart.contents.length}}</i>
            </div>
        </div>
</nav>
