  <div class='row'>
    <div class = "row">
      <div class = "col-sm-12">
        <h2 class="page-header" ng-if='recommendedProducts.length > 0'>Recomended products based on yours orders</h2>
      </div>
    </div>
    <div class = "row allProductContainer" ng-if='recommendedProducts.length > 0'>
      <product ng-repeat='product in recommendedProducts'></product>
    </div>
  </div>
  <div class='row'>
    <div class = "row">
      <div class = "col-sm-12">
        <h2 class="page-header">Most Popular Products Based on Others Orders</h2>
      </div>
    </div>
    <div class = "row allProductContainer">
      <product ng-repeat = "product in othersBought"></product>
    </div>
  </div>
