<div>
  <script type="text/ng-template" id="group-template.html"/>
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
</script>


<h1>All Users</h1>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
  <accordion close-others="oneAtATime">
    <accordion-group heading=" User: {{user.email}}" ng-repeat="user in users">
      <div class='row'>
      <div class="col-lg-3"><h4>User Email: </h4><span contenteditable ng-model="user.email"></span></div>
      <div class="col-lg-3"><h4>User Name: </h4><span contenteditable ng-model="user.name"></span></div>
      <button class="btn btn-success btn-sm updateButton" ng-click="updateUser(user)">Update</button>
      </div>
    </accordion-group>
  </accordion>
</div>