<div>
  <script type="text/ng-template" id="group-template.html"/>
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
</script>


<h1>All Products <button class="btn btn-success" ng-click="showAddProductForm()"><i class="fa fa-plus">  Add a product</i></button></h1>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
  <add-product></add-product>
  <accordion close-others="oneAtATime">
    <accordion-group heading=" Product: {{product.title}}" ng-repeat="product in products">
      <div class='row'>
        <div class='col-sm-1'><img class='accordion-image' src={{product.photo}}></div>
        <div class='col-sm-1'>Product: <span ng-model="product.title" contenteditable>{{product.title}}</span></div>
        <div class='col-sm-3'><h4>Description: </h4><span ng-model="product.description" contenteditable>{{product.description}}</span></div>
        <div class='col-sm-2'><h4>In inventory: </h4><span ng-model="product.inventoryQuantity" contenteditable>{{product.inventoryQuantity}}</span></div>
        <div class='col-sm-2'><h4>Category: </h4><span ng-model="product.category" contenteditable>{{product.category}}</span></div>
        <div class='col-sm-2'><h4>Price: </h4><span ng-model="product.price" contenteditable>{{product.price}}</span></div>
        <div class="col-sm-1"><h4>Available: </h4><input ng-model="product.available" type="checkbox"></div>
        <button class="btn btn-success btn-sm updateButton" ng-click="updateProduct(product)"><i class="fa fa-refresh"></i> Update Item</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteProduct(product)"><i class="fa fa-remove"></i> Delete Item</button>
      </div>
    </accordion-group>
  </accordion>
</div>