<h2>Create Farm <h2>
  <form name='userAccountInfo' role="form" ng-submit="createOrUpdateFarm()">
          <div class='row'>
              <div class='col-sm-6'>
                  <label>Farm Name: </label>
                  <input ng-model="farmInfo.name" placeholder="Name your farm...">
              </div>
              <div class='col-sm-6'>
                  <label>Description: </label>
                  <input ng-model="farmInfo.description" placeholder="Describe you farm...">
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm-6">
                  <button type="submit" class="btn btn-success btn-md"><i class="fa fa-refresh"></i> Submit</button>
              </div>
          </div>
  </form>
<hr>

<!-- <add-product></add-product> -->
