<div class='container'>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mainPhoto">
                <img src="{{selectedPhoto}}" />
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12 altPhoto" ng-click="changePhoto(0)">
                        <img src="{{product.photo}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 altPhoto" ng-click="changePhoto(1)">
                        <img src="{{product.photo2}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 altPhoto" ng-click="changePhoto(2)">
                        <img src="{{product.photo3}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 altPhoto" ng-click="changePhoto(3)">
                        <img src="{{product.photo4}}" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row productDesc">
                    <div class="col-sm-12 text-center">
                        <h2>{{product.title}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4>{{product.price | currency}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <input type="number" min="0" value='1'>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-success" ng-click='addToCart(product)'>
                            <i class="fa fa-cart-plus"> Add to Cart</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h4>Product Description</h4>
            </div>
            <div class="col-sm-4">
                <h4>Product Description</h4>
            </div>
            <div class="col-sm-4">
                <h4>Product Description</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 content">
                {{product.description}}
            </div>
            <div class="col-sm-4 content">
                {{product.description}}
            </div>
            <div class="col-sm-4 content">
                {{product.description}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <h1 style='display: inline-block'>Reviews</h1>
        <i style='color: green' class='fa fa-2x fa-plus-circle fa-fw' ng-click='revealForm()' ng-show='isAuthenticated'></i>
    </div>
    <div class="row">
        <h4>{{product.numReviews}} Reviews
    </div>
    <div class="row" ng-show="product.numReviews > 0">
        <div class="col-sm-10">
          <h4 style = "display:inline">{{product.percentageLiked * 100 | number:0}}%</h4>
          <i class="fa fa-smile-o fa-3x" ng-show="product.percentageLiked >= .666"></i>
          <i class="fa fa-meh-o fa-3x" ng-show="product.percentageLiked > .333  && product.percentageLiked < .666"></i>
          <i class="fa fa-frown-o fa-3x" ng-show="product.percentageLiked <= .333"></i>
        </div>
    </div>
    <hr>
    <create-review ng-show='showCreateReviewForm'></create-review>
    <review ng-repeat="review in reviews"> </review>
</div>
