<h3>Payment Information</h3></div>
<div class="form-group">
    <label class="control-label col-sm-2" for="cardNum">Card Number: </label>
    <div class="col-sm-10">
        <input ng-model="card.number" name="cardNumber" type="text" class="form-control" id="cardNum" placeholder="Card Number...">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="secCode">Security Code:</label>
    <div class="col-sm-10">
        <input ng-model="card.cvc" name="securityCode" type="text" class="form-control" id="secCode" placeholder="Security Code">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="secCode">Exp. Month:</label>
    <div class="col-sm-10">
        <input ng-model="card.exp_month" name="month" min="01" max="12" size="2" type="number" class="form-control" id="secCode" placeholder="MM">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="secCode">Exp. Year:</label>
    <div class="col-sm-10">
        <input ng-model="card.exp_year" name="year" type="text" class="form-control" id="secCode" placeholder="YY">
    </div>
</div>
