<section id="home">
    <h2> {{farm.user.name}} Farm</h2>
<!--     <div class="form-group">
        <input type="text" ng-model="productName" class="form-control" placeholder="Search">
    </div>
    <select class="form-control" ng-model="sortBy">
        <option value ="">-- Filter --</option>
        <option value="price">Price: Low-High</option>
        <option value="-price">Price: High-Low</option>
        <option value="title">Title: A-Z</option>
        <option value="-title">Title: Z-A</option>
        <option value="-percentageLiked">Highest Rated</option>
    </select> -->
    <div class="container-fluid nav-sidebar">
        <div>
            <h3 class="side-head">Filters</h3>
            <p class="side-clear" ng-click="clearAll()">Clear all</p>
        </div>
        <hr>
        <div class="form-group">
            <input type="text" ng-model="searchInput" class="form-control" placeholder="Search">
        </div>
        <hr>
        <div>
            <h4 class="side-head">Price</h4>
            <p class="side-clear" ng-click="resetPrice()">Reset</p>
            <rzslider rz-slider-model="priceSlider.min" rz-slider-floor="priceSlider.floor" rz-slider-ceil="priceSlider.ceil" rz-slider-high="priceSlider.max" rz-slider-translate='translate'></rzslider>
        </div>
        <br>
        <div>
            <h4 class="side-head">Reviews</h4>
            <p class="side-clear" ng-click="resetReview()">Reset</p>
            <rzslider rz-slider-model="reviewSlider.min" rz-slider-floor="reviewSlider.floor" rz-slider-ceil="reviewSlider.ceil" rz-slider-high="reviewSlider.max" rz-slider-translate="translate2"></rzslider>
        </div>
        <br>
        <div>
            <h4 class="side-head">Categories</h4>
            <br>
            <button class="btn cat-button" ng-click="setCat(cats[0])">All</button>
            <button class="btn cat-button" ng-click="setCat(cats[1])">Dairy</button>
            <button class="btn cat-button" ng-click="setCat(cats[2])">Veggies</button>
            <button class="btn cat-button" ng-click="setCat(cats[3])">Fruits</button>
        </div>
        <hr>
        <div>
            <h3 class="side-head">Sort</h3>
            <select class="form-control" ng-model="sortBy">
                <option value="">-- Filter --</option>
                <option value="price">Price: Low-High</option>
                <option value="-price">Price: High-Low</option>
                <option value="title">Title: A-Z</option>
                <option value="-title">Title: Z-A</option>
                <option value="-percentageLiked">Highest Rated</option>
            </select>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <!-- <product  class="animate-repeat" ng-repeat='product in farm.products | filter: productName | orderBy : sortBy' > -->
          <product class="animate-repeat" ng-repeat='product in filteredProducts = (products | filter: searchInput | pricefilt:priceSlider.min:priceSlider.max | reviewfilt:reviewSlider.min:reviewSlider.max | catfilt:activeCat | orderBy : sortBy)'>
          </product>
        </div>
    </div>
</section>
