<div>
    <script type="text/ng-template" id="group-template.html" />
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
        </div>
        <div class="panel-collapse collapse" collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </div>
    </script>
    <h1>All Reviews</h1>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="oneAtATime"> Open only one at a time
        </label>
    </div>
    <accordion close-others="oneAtATime">
        <accordion-group heading=" Product: {{review.product.title}} Review: {{review.title}}" ng-repeat="review in reviews">
            <div class='row'>
                <div class='col-sm-2'><img class='accordion-image' src={{review.product.photo}}></div>
                <div class='col-sm-6'>
                    <h3>Review Content: </h3><span ng-model="review.content" contenteditable>{{review.content}}</span></div>
                <i class="fa col-sm-2 fa-thumbs-up fa-lg" ng-show="review.thumbsUp">Thumbs Up</i>
                <i class="fa col-sm-2 fa-thumbs-down fa-lg" ng-hide="review.thumbsUp">Thumbs Down</i>
                <div class='col-sm-2'>
                    <h3>User: </h3> <span ng-model="review.author.email">{{review.author.email}}</span></div>
                </div>
                <button class="btn btn-success btn-sm updateButton" ng-click="updateReview(review)">Update</button>
        </accordion-group>
    </accordion>
</div>
