<div class='container'>
    <div>
        <h1 style="display:inline-block">Shopping Cart</h1>
        <button class="btn btn-danger" ng-click="emptyCart()" ng-show="cart.contents.length"><i class="fa fa-trash-o fa-2x"></i></button>
    </div>
    <div ng-repeat="product in uniqueProducts" class="cart-product">
        <div class="panel panel-body">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6">
                            <span><h4>{{product.title}}</h4></span>
                        </div>
                        <div class="col-lg-1 col-lg-offset-4 text-right">
                            <div role="group">
                                <div class="btn-group inline" role="group">
                                    <button class="btn btn-danger btn-sm" ng-click='removeFromCart(product)'>
                                        <i class="fa fa-remove fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <img class="cart-img" src="{{product.photo}}" />
                        </div>
                        <div class="col-lg-6">
                            <div class="row header-row">
                                <div class="col-lg-2">
                                    <span>Category</span>
                                </div>
                                <div class="col-lg-2">
                                    <span>Price</span>
                                </div>
                                <div class="col-lg-2">
                                    <span style="display:inline-block">Quantity</span>
                                </div>
                                <div class="col-lg-2">
                                    <span>Total</span>
                                </div>
                                <div ng-if="promoApplied" class="col-lg-2">
                                    <span>$'s Off</span>
                                </div>
                                <div ng-if="promoApplied" class="col-lg-2">
                                    <span>New Total</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span>{{product.category}}</span>
                                </div>
                                <div class="col-lg-2">
                                    <span>{{product.price | currency}}</span>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-danger btn-xs" ng-click="reduceQuantity(product)"><i class="fa fa-minus"></i></button>
                                    <span style="display:inline-block">{{product.cartQuantity}}</span>
                                    <button class="btn btn-success btn-xs" ng-click="increaseQuantity(product)"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                                <div class="col-lg-2">
                                    <span>{{product.cartQuantity * product.price | currency}}</span>
                                </div>
                                <div ng-if="promoApplied" class="col-lg-2">
                                    <span ng-if="product.category === promo.validCategories">{{ product.cartQuantity * product.price * promo.discount | currency}}</span>
                                    <span ng-if="product.category !== promo.validCategories">{{0 | currency}}</span>
                                </div>
                                <div ng-if="promoApplied" class="col-lg-2">
                                    <span ng-if="product.category === promo.validCategories">{{ product.cartQuantity * product.price * (1-promo.discount) | currency}}</span>
                                    <span ng-if="product.category !== promo.validCategories">{{product.cartQuantity * product.price | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3 ng-if="total" style="display:inline-block">Total: {{total - totalDiscount | currency}}</h3>
        <button ng-show="cart.contents.length && !checkOutView" class="btn btn-success btn-md" ng-click="checkOutView = true"><i class="fa fa-money fa-xl"> Check Out</i></button>
        <div class="btn-group" role="group" ng-show="editing">
            <button class="btn btn-warning btn-md" ng-click='updateCart()'>
                <i class="fa fa-home fa-xl"> Update</i>
            </button>
        </div>
        <div ng-if="total" class="btn-group" role="group">
            <button class="btn btn-warning btn-md" ng-click='showPromoCodeForm()'>
                <i class="fa fa-tags"> Promo Codes?</i>
            </button>
            <apply-promo></apply-promo>
        </div>
    </div>
    <checkout ng-show="checkOutView"></checkout>
</div>
