<div class="container">
    <div>
      <div class='row' ng-hide="updateInfo">
          <h3>Your Farm</h3>
          <div class='col-sm-4'>
              <h4> Farm Name : {{farm.name}}</h4>
            </div>
          <div class='col-sm-4'>
            <h4> Farm Description : {{farm.description}}</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <button ng-click = "update()" ng-hide = "updateInfo" class="btn btn-success btn-md"><i class="fa fa-refresh"></i> Update</button>
            </div>
      </div>
    </div>
    <hr>
    <div class = "row">
      <div ng-if="updateInfo">
        <form name='userAccountInfo' role="form" ng-submit="userAccountInfo.$valid && updateFarm()">
                <div class='row'>
                  <h3> Update Info </h3>
                    <div class='col-sm-4'>
                        <label>Farm Name: </label>
                        <input ng-model="updatedFarmInfo.name" placeholder = "{{farm.name}}">
                    </div>
                    <div class='col-sm-4'>
                        <label>Description: </label>
                        <input ng-model="updatedFarmInfo.description" placeholder="{{farm.description}}">
                    </div>
                    <div class='col-sm-4'>
                        <label>Photo: </label>
                        <input ng-model="updatedFarmInfo.photo" placeholder="{{farm.photo}}">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-success btn-md"><i class="fa fa-refresh"></i> Submit</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" ng-click ="update()" class="btn btn-success btn-md"><i class="fa fa-refresh"></i> Cancel</button>
                    </div>
                </div>
          </form>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class = "row">
          <h3>Products</h3>
          <product ng-repeat = "product in farm.products"></product>
      </div>
      <div class = "row">
          <button type ="button" ng-hide = "addProductView" ng-click = "addProductView = true" class = "btn btn-success btn-md"><i class="fa fa-plus"></i> Add Product</button>
          <add-farm-product ng-show = "addProductView"></add-product>
      </div>
    </div>
    <hr>
    <div class = "container">
      <div class = "row">
        <h3>Custom Styles</h3>
        <button type="button" ng-hide = "addCustomStyleView" class="btn btn-warning btn-sm" ng-click="addCustomStyleView = true">Add Custom CSS</button>
        <add-custom-styles ng-show = "addCustomStyleView"></add-custom-styles>
      </div>
    </div>
</div>
