<section id="home">
    <div class="container">
        <div class="row">
            <div class='form-inline'>
                <div class="form-group col-lg-3">
                    Refine:
                    <input type="text" ng-model="productName" class="form-control searchForm" placeholder="Search">
                </div>
                <div class="col-lg-3">
                    Sort by:
                    <select class="form-control filterForm" ng-model="sortBy">
                        <option value="">-- Filter --</option>
                        <option value="price">Price: Low-High</option>
                        <option value="-price">Price: High-Low</option>
                        <option value="title">Title: A-Z</option>
                        <option value="-title">Title: Z-A</option>
                        <option value="-percentageLiked">Highest Rated</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <hr>
        <div class="spacer"></div>
        <div class="container allProductContainer">
            <div class="row">
                <product class="animate-repeat" ng-repeat='product in products | filter: productName | orderBy : sortBy'></product>
            </div>
        </div>
    </div>
</section>
