<section id="home">
    <!-- <category></category>
    <div class="page-header">
        <h1 ng-hide="currentCategory">No Category Selected</h1>
        <h1 ng-show="currentCategory">{{currentCategory}}</h1>
    </div> -->
    <div class="form-group">
        <input type="text" ng-model="productName" class="form-control" placeholder="Search">
    </div>
    <select class="form-control" ng-model="sortBy">
        <option>-- Select --</option>
        <option value="price">Price: Low-High</option>
        <option value="-price">Price: High-Low</option>
        <option value="title">Title: A-Z</option>
        <option value="-title">Title: Z-A</option>
    </select>
    <div class="container">
        <div class="row">
            <div class="product col-lg-4 productContainer muted" ng-repeat='product in products | filter: productName | orderBy : sortBy'>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="{{product.photo}}" class="productImg" ng-click="goToProduct(product)" />
                        <span class="buttonOverlay">
                        <span>
                            <div class="col-lg-12 text-center">
                                <div class="btn-group addToCartBtn" role="group">
                                    <button class="btn" ng-click='addToCart(product)'>
                                        <i class="fa fa-cart-plus"> Add to Cart</i>
                                    </button>
                                </div>
                            </div>
                        </span>
                        </span>
                    </div>
                    <div class="col-lg-12 text-center priceBox" ng-click="goToProduct(product)">
                        <h4><a ng-clic="goToProduct(product)">{{product.category}} - {{product.title}} - {{product.price | currency}}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
