* {
    box-sizing: border-box;
}

html,
body {
    background: #fdfdfd;
    // margin-top: 60px;
    height: 100%;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.animate-repeat {
line-height:40px;
list-style:none;
box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
-webkit-transition:0.5s;
transition:0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}



#push {
    height: 100px;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#main {
    // padding-top: 60px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.thumbUp:hover{
  color: green;
}

.thumbDown:hover{
  color: red;
}

.greenThumb {
  color: green;
}

.redThumb {
  color: red;
}

.oauth {
    text-align: center;
    margin-top: 20px;
}

.logo {
    margin-right: 10px;
}

.content {
    font-size: 1.2em;
}

[ng-click] {
    cursor: pointer;
}

[ui-sref] {
    cursor: pointer;
}

@import 'directives/main';
@import 'directives/footer';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'cart/main';
@import 'account/main';
@import 'landingPage/main';
@import 'product/main';
